@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --font-family: 'Poppins', sans-serif;

  --gradient-text: radial-gradient(circle at 3% 25%, #FF00FF 1.84%, #FF0000 102.67%);
  --gradient-bar: radial-gradient(circle at 3% 25%, #FF0000 0%, #FF00FF 100%);;
  
  --color-bg: #180404;
  --color-footer : #340303;
  --color-blog: #540404;
  --color-text: #dd8181;
  --color-subtext: #ff7171;
}