.gpt3__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-footer);
}

.gpt3__footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.gpt3__footer-links_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gpt3__footer-links_logo img {
    width: 50%;
    height: 50%;
}


.gpt3__footer-copyright p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 14px;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
}


@media screen and (max-width: 550px) {
    .gpt3__footer-links div {
        margin: 1rem 0;
    }

}
